[submodule "anchor"]
	path = anchor
	url = https://github.com/jito-foundation/anchor.git
[submodule "jito-programs"]
	path = jito-programs
	url = https://github.com/jito-foundation/jito-programs.git
[submodule "jito-protos/protos"]
	path = jito-protos/protos
	url = https://github.com/jito-labs/mev-protos.git
