[package]
name = "agave-install"
description = "The solana cluster software installer"
documentation = "https://docs.rs/agave-install"
version = { workspace = true }
authors = { workspace = true }
repository = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
edition = { workspace = true }

[dependencies]
atty = { workspace = true }
bincode = { workspace = true }
bzip2 = { workspace = true }
chrono = { workspace = true, features = ["default", "serde"] }
clap = { workspace = true }
console = { workspace = true }
crossbeam-channel = { workspace = true }
ctrlc = { workspace = true, features = ["termination"] }
dirs-next = { workspace = true }
indicatif = { workspace = true }
lazy_static = { workspace = true }
nix = { workspace = true, features = ["signal"] }
reqwest = { workspace = true, features = ["blocking", "brotli", "deflate", "gzip", "rustls-tls", "json"] }
scopeguard = { workspace = true }
semver = { workspace = true }
serde = { workspace = true }
serde_derive = { workspace = true }
serde_yaml = { workspace = true }
serde_yaml_08 = { package = "serde_yaml", version = "0.8.26" }
solana-clap-utils = { workspace = true }
solana-config-program-client = { workspace = true, features = ["serde"] }
solana-hash = "=2.2.1"
solana-keypair = "=2.2.1"
solana-logger = "=2.3.1"
solana-message = "=2.3.0"
solana-pubkey = { version = "=2.2.1", default-features = false }
solana-rpc-client = { workspace = true }
solana-sha256-hasher = { workspace = true }
solana-signature = { version = "=2.2.1", default-features = false }
solana-signer = "=2.2.1"
solana-transaction = "=2.2.2"
solana-version = { workspace = true }
tar = { workspace = true }
tempfile = { workspace = true }
url = { workspace = true }

[target."cfg(windows)".dependencies]
winapi = { workspace = true, features = ["minwindef", "winuser"] }
winreg = { workspace = true }

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]
