# Priority Fee Sharing Service Environment Configuration
# Copy this file to .env and update the values below

# --------------- SYSTEM --------------------
# User to run the service as (should be the same user as your validator user)
USER=solana

# --------------- REQUIRED --------------------
# RPC URL - This RPC needs to be able to call `get_block`.
# If using a local RPC, ensure it is running with `--enable-rpc-transaction-history`
RPC_URL=https://api.mainnet-beta.solana.com

# The account that the priority fees are paid out from - this is usually the validator's identity keypair
PRIORITY_FEE_PAYER_KEYPAIR_PATH=/path/to/your/validator-keypair.json

# The vote authority needed to create the PriorityFeeDistribution Account
# Can be found by running `solana vote-account YOUR_VOTE_ACCOUNT`
VOTE_AUTHORITY_KEYPAIR_PATH=/path/to/your/vote-authority-keypair.json

# Your validator vote account address
VALIDATOR_VOTE_ACCOUNT=YourVoteAccountPubkeyHere

# Minimum balance in your priority fee keypair, no fees will be sent if below this amount
MINIMUM_BALANCE_SOL=1.0

# --------------- DEFAULTS --------------------
# How much priority fees to keep in bps (Suggested 5000 - 50%)
COMMISSION_BPS=5000

# The Priority Fee Distribution Program
PRIORITY_FEE_DISTRIBUTION_PROGRAM=9yw8YAKz16nFmA9EvHzKyVCYErHAJ6ZKtmK6adDBvmuU

# The merkle root upload authority
MERKLE_ROOT_UPLOAD_AUTHORITY=2AxPPApUQWvo2JsB52iQC4gbEipAWjRvmnNyDHJgd6Pe

# --------------- PERFORMANCE --------------------
# Rocks DB that holds all priority fee records - this will be created by the script and can go anywhere
FEE_RECORDS_DB_PATH=/var/lib/solana/fee_records

# Priority fee for sending share transactions (in lamports)
PRIORITY_FEE_LAMPORTS=0

# How many TXs to send per epoch
TRANSACTIONS_PER_EPOCH=10
