# Priority Fee Sharing Service Environment Configuration
# Copy this file to .env and update the values below

# --------------- SYSTEM --------------------
# User to run the service as root, sol, etc... (should be the same user as your validator user)
USER=sol

# --------------- REQUIRED --------------------
# Cluster ( testnet, devnet, mainnet )
CLUSTER=testnet

# RPC URL - This RPC needs to be able to call `get_block`.
# If using a local RPC (http://localhost:8899), ensure it is running with `--enable-rpc-transaction-history
# DON'T USE https://api.mainnet-beta.solana.com - this needs to be a very reliable RPC!
RPC_URL=https://your.rpc

# Your validator vote account address
VALIDATOR_VOTE_PUBKEY=YourVoteAccountPubkeyHere

# These next two are most likely the identity keypair path - if you're not sure default to that
# PAYER: Who pays out the share of priority fees - usually identity keypair path
# The vote authority needed to create the PriorityFeeDistribution Account - usually identity keypair path
PRIORITY_FEE_PAYER_KEYPAIR_PATH=/path/to/your/validator-identity-keypair.json
VOTE_AUTHORITY_KEYPAIR_PATH=/path/to/your/validator-identity-keypair.json

# Minimum balance in your priority fee keypair, no fees will be sent if below this amount
MINIMUM_BALANCE_SOL=1.0

# --------------- DEFAULTS --------------------
# How much priority fees to keep in bps (Suggested 5000 - 50%)
COMMISSION_BPS=5000

# Rocks DB that holds all priority fee records - this will be created by the script and can go anywhere
FEE_RECORDS_DB_PATH=/var/lib/solana/fee_records

# Path where the Rocks DB can write backups
FEE_RECORDS_DB_BACKUP_PATH=/var/lib/solana/fee_records_backup

# The Priority Fee Distribution Program
# If you don't know, keep the default
PRIORITY_FEE_DISTRIBUTION_PROGRAM=Priority6weCZ5HwDn29NxLFpb7TDp2iLZ6XKc5e8d3

# The merkle root upload authority
# If you don't know, keep the default
MERKLE_ROOT_UPLOAD_AUTHORITY=2AxPPApUQWvo2JsB52iQC4gbEipAWjRvmnNyDHJgd6Pe

# --------------- PERFORMANCE --------------------

# Priority fee for sending share transactions (in lamports)
PRIORITY_FEE_LAMPORTS=10

# How many TXs to send per epoch
TRANSACTIONS_PER_EPOCH=10

# --------------- SOLANA METRICS ( OPTIONAL ) --------------------
SOLANA_METRICS_CONFIG=""

# --------------- LOGGING -------------------------
# Log level
RUST_LOG=info
